/*
https://coolors.co/19227d-e50000-f5f5f2-3d7b9f-6096ba
*/

.about-page {
    background-color: rgba(25, 33, 125, 0.963);
    color: white;
    text-align: center;
    width: 80%;
    margin: 15px auto;
    box-shadow: 8px 8px #E50000;
    border-radius: 2%;
    padding: 15px;
}

.return-link {
    background-color: #6096BA;
    width: 190px;
    font-size: 15px;
    height: 40px;
    color: white;
    box-shadow: 1pt 1pt rgba(51, 81, 230, 0.959);
    border-radius: 2%;
    margin: 15px auto;
}

.return-button {
    text-align: center;
}

.about-page-button {
    float: left;
    border: none;
    background: transparent;
    text-decoration: none;
    color: #3D7B9F;
    font-size: 12px;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* desktop */

@media only screen and (min-device-width: 1024px) {
    .about-page {
        width: 85%;
    }

    .about-page-button {
        font-size: 15px;
    }
}