.question {
    text-align: center;
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    background: rgba(51, 81, 230, 0.959);
    border-radius: 5px;
   border-top: 2px #f01414;
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
  }
  
  .question div {
    padding-top: 20px;
  }

  .submit-button{
    background-color: #f01414;
    color: white;
    box-shadow: 1pt 1pt rgba(51, 81, 230, 0.959);
  }
/*   
  .question{
    text-shadow: 0 0 2em rgba(16, 52, 226, 1), 0 0 1em white;
    font-size: 2em;
    font-weight: bold; 
  } */


  .flag {
    background-image: url(http://www.mistretta.eu/Temp%203/Bandiera%20animata%20Francia.gif);
    background-repeat: round;
  height: 100px;
  }

 