/*
https://coolors.co/19227d-e50000-f5f5f2-3d7b9f-6096ba
*/

.dashboard {
  text-align: center;
  padding: 0 15px 15px 15px;
}

.french-cta {
  color: #19227D;
  margin-bottom: 0;
  margin-top: 5px;
}

.english-cta {
  margin: 0;
}

.french-prompt {
  color: #19227D;
  margin-bottom: 0;
  display: none;
}

.english-prompt {
  margin-top: 0;
  display: none;
}

.user-question {
  background-color: #3D7B9F;
  border-radius: 5px;
  padding: 38px 0;
  color: #E7ECEF;
}

.user-score {}

.answer-feedback {
  margin: 20px 0;
  color: #19227D;
  font-size: 18px;
}

.session-answer {
  margin: 25px 0;
}

.session-answer-input {
  margin-top: 10px;
}

#textInput {
  width: 85%;
  height: 25px;
  border-radius: 2px;
  margin: 15px 0;
}

.submit-button,
.next-button {
  background-color: #6096BA;
  width: 190px;
  font-size: 15px;
  height: 40px;
  color: white;
  box-shadow: 1pt 1pt rgba(51, 81, 230, 0.959);
}

/* .flag {
  background-image: url(http://www.mistretta.eu/Temp%203/Bandiera%20animata%20Francia.gif);
  background-repeat: round;
  height: 100px;
} */

/* ============================ 
MEDIA QUERIES
============================*/

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .dashboard {
    font-size: 22px;
  }
  .french-cta {
    font-size: 30px;
  }
  .user-question,
  .user-feedback {
    flex-direction: row;
    margin: 0 10px;
    width: 45%;
    max-width: 500px;
  }
  .answer-feedback {
    color: #F5F5F2;
  }
  .user-feedback {
    background-color: #19227D;
    border-radius: 5px;
    padding: 60px 15px;
  }
  #textInput {
    max-width: 400px;
    width: 60%;
    margin-bottom: 35px;
  }
  .learning-module {
    display: flex;
    justify-content: center;
  }
  .session-answer-input-title {
    color: #F5F5F2;
  }
  .french-prompt,
  .english-prompt {
    display: inherit;
  }
}