/*
https: //coolors.co/19227d-e50000-f5f5f2-3d7b9f-6096ba
*/

.header-bar-component {
  text-align: center;
  padding: 15px 15px 0 15px;
}

.app-name {
  color: #E50000;
  font-family: 'Rancho', cursive;
  font-size: 50px;
  margin-bottom: 0;
}

.logout-button {
  float: right;
  font-size: 12px;
}