/*
https: //coolors.co/19227d-e50000-f5f5f2-3d7b9f-6096ba
*/

.header-bar {
  text-align: center;
  padding: 15px 15px 0 15px;
}

.app-name {
  color: #E50000;
  font-family: 'Rancho', cursive;
  font-size: 50px;
  margin-bottom: 0;
}

.logout-button {
  float: right;
  font-size: 12px;
}

/* ============================ 
MEDIA QUERIES
============================*/

/* desktop */

@media only screen and (min-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .logout-button {
    background: transparent;
    border: none;
    font-size: 15px;
  }
}